.todo {
    width: 600px;
    margin: 40px auto;
}

.todo-content{
    padding: 15px 40px;
    border: 2px solid rgba(0,0,0,.125);
    border-top: 0;
}

.todo-title-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
}

.title-buttons-block {
    opacity: 0;
    transition: all .5s ease;
}

.todo-title-block:hover .title-buttons-block {
    opacity: 1;
}

.title-buttons-block a {
    color: #fff;
}

.todo-title-block h4 {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
}

.list-group-item {
    display: flex;
    align-items: center;
    padding: 0;
}

.task-name {
    display: block;
    margin-bottom: 0;
}

.new-task {
    width: 415px;
}

.new-task-block {
    margin-bottom: 0;
}

.todo-header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.edit-input {
    margin-right: 15px;
}

.save-info {
    margin-right: 7px;
}

.info-block {
    display: flex;
    align-content: center;
}

.checkbox-block {
    padding: .75rem 1.25rem;
    border-right: 2px solid rgba(0,0,0,.125);
}

.info-block {
    padding: .75rem 1.25rem;
    width: 380px;
}

.buttons-block {
    padding: .75rem 1.25rem;
}

.block-border {
    border-bottom: 2px solid rgba(0,0,0,.125);
    border-top: 2px solid rgba(0,0,0,.125);
    margin: 20px 0px;
    padding: 10px 0;
}

.default-list {
    padding: .75rem 1.25rem;
}

.task-label {
    margin-bottom: 0;
    margin-right: 10px;
}

.edit-input {
    display: none;
}

.my-list-item {
    justify-content: space-between;
}

.button {
    text-align: center;
    margin-top: 50px;
}